/* common css start from here */

*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

:root{
    --primary-color: #FE6347;
    --secondary-color: #233D62;
    --font-color: #fff;
}
header{
    background-image: url(./images/banner-bg.png);
    height: 100vh;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.btn{
    padding: 14px 24px;
    background: var(--primary-color);
    border: 0;
    border-radius: 24px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
/* common css ends from here */

/* header css start from here */

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
}
.header-container .header-logo img{
    width: 70px;
    height: 90;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav ul{
    display: flex;
    align-items: center;
}
.header-nav ul li{
    list-style-type: none;
}
.header-nav ul li a{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--secondary-color);
    margin-right: 40px;
}
.header-btn{
    margin-left: 65px;
    
}
.header-btn a{
    color: var(--font-color);
}
/* banner css start from here */

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content{
    margin-top: 40px;
}
.banner-content h1{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
}
.banner-content p{
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
    margin-top: 15px;
    line-height: 60px;
    text-align: justify;
}
.banner-img img{
    width: 580px;
}
.hire-btn a{
    font-size: 18px;
    position: relative;
    color: #fff;
}
.hire-btn{
    margin-top: 20px;
    padding: 18px 35px;
    color: var(--secondary-color);
    
}
.service-container{
    margin-top: 100px;
    height: 100vh;
    
}
.service-title{
    text-align: center;
    
}
.service-title,p,h1{
    line-height: 150%;
    color: var(--secondary-color);
    font-family: 'Raleway', sans-serif;
}
.service-container .service-card{
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
}
.service-container .service-card .service-cards{
    border: 0;
    text-align: center;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    background: gray;
    width: 320px;
    border-radius: 5px;
    cursor: pointer;
}
.service-container .service-card .service-cards img{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}
.service-container .service-card .service-cards h3{
    font-size: 20px;
}
.service-container .service-card .service-cards h3,p{
    margin: 10px;
    text-align: center;
    color: var(--secondary-color);
}
#menu-icon{
    display: none;
}
.work-heading{
    text-align: center;
}
.works-container{
    margin-top: 200px;
    height: 100vh;
}
.work-heading{
    font-size: 3rem;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
}
.work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 100px;
    
}
.work-cards{
    margin: 20px;
    background: #233D62;
    padding: 54px;
    border-radius: 5px;
}
.work-cards img{
    width: 100%;
    border-radius: 5px;
}
.work-btn a{
    
    position: absolute;
    text-decoration: none;
    color: #1670f0;
    padding: 12px 6px;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, .5);
}
.work-btn a:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255, 255, 255, 0.05);
}
.work-btn a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
.work-btn a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
}
.work-btn a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
}
.work-btn a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
}
.work-content{
    text-align: center;
    margin-top: 20px;
}
.work-content h4{
    color: gray;
    font-size: 30px;
}
.work-btn{
    margin-right: 110px;
}
/* banner css ends from here */
/* header css end from here */

/* responsive start from here */
@media (max-width: 1100px) {
    .wrapper{
        max-width: 1000px;
        margin: 0 auto;
    }
    .service-container .service-card .service-cards{
        width: 270px;
    }
}
@media (max-width: 800px){
    .wrapper{
        max-width: 700px;
        margin: 0 auto;
    }
    .banner-content{
        margin-top: 5rem;
    }
    .banner-content h1{
        font-size: 30px;
        text-align: justify;
    }
    .banner-img img{
        width: 320px;
    }
    .service-container .service-card .service-cards{
        width: 350px;
        height: 430px;
    }
    .service-container .service-card .service-cards img{
        width: 165px;
        height: 168px;
    }
}
@media (max-width: 700px){
    .wrapper{
        max-width: 600px;
    }
    .banner-content h1{
        font-size: 25px;
    }
    .banner-img img{
        width: 275px;
    }
    .service-container .service-card{
        flex-direction: column;
    }
    .service-container .service-card .service-cards img{
        width: 290px;
        height: 270px;
    }
    .service-container .service-card .service-cards{
        width: 100%;
       
    }
    .header-nav{
        position: relative;
    }
   
    .header-nav ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--secondary-color);
   
    }
    .header-nav ul li{
        margin: 10px;
    }
    .header-nav ul li a{
        color: #bbb;
        width: 100%;
        height: 100%;
        padding: 10rem;

    }
    .header-btn {
        margin-left: -18px;
      }
    #menu-icon{
        display: block;
        cursor: pointer;
    }
    .hidden{
        display: none;
    }
    
    
}
@media (max-width: 600px) {
    .wrapper{
        max-width: 500px;
    }
    .banner-content p{
        line-height: 42px;
    }
}
@media (max-width: 400px) {
    .wrapper{
        max-width: 300px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-img img{
        display: none;
    }
    .banner-content{
        text-align: center;
    }
    .banner-content h1{
        text-align: center;
    }
    .banner-content p{
        text-align: center;
    }
    .hire-btn{
        padding: 18px 24px;
    }
}
/* responsive ends from here */